
.icon-search:before { content: '\e804'; } /* '' */
.icon-eye-off:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-down:before { content: '\e80d'; } /* '' */
.icon-exchange:before { content: '\e808'; } /* '' */
.icon-sort-alt-up:before { content: '\e801'; } /* '' */
.icon-sort-name-up:before { content: '\e80c'; } /* '' */
.icon-trash:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-archive:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */
.icon-list-add:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */