body {
	padding-top:60px;
	padding-bottom:80px;
}

.btn-icon {
	padding: 0 !important;
}

.sort-header:hover {
	cursor: pointer;
	color: #428bca;
}

.adjustable-input:focus {
	width: auto;
}

table {
	font-size: 10px;
}

input {
	font-size: 10px !important;
}

.small-image{
	width: 25px;
}